/.DS_Store
/.brackets.json
/photos/
/images/
/undefined
/.idea/
/.project
.idea/.DS_Store
.idea/.name
.idea/arch.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
